<div class="row">
	<div class="title">
		<h1>Log In 
			<% if params[:type] == "instructor" %>
				Instructor
			<% else %>
				Student
			<% end %>
		</h1>
	</div>
</div>

<%= form_tag sessions_path do %>
	<div class="row">
	    <div class="form-group">
				<div class="subject-label">
					Name
				</div>
	      <%= text_field_tag :name, params[:name], placeholder: 'Name', class: 'form-control' %><br>
				<div class="subject-label">
					Password
				</div>
	      <%= password_field_tag :password, nil, class: 'form-control' %><br>
	      <%= submit_tag 'Log in', class: 'btn btn-default' %><br>
	  		<%= link_to "New Instructor Account", new_instructor_path, class: 'btn btn-default' %>
				<%= link_to "New Student Account", new_student_path, class: 'btn btn-default' %>
      </div>
  </div>
<% end %>
