<div class="row">
  <div class ="title">
    <h1><%= @instructor.name %>'s Courses</h1>
  </div>
</div>
<%# current_instructor = 4 %>
<%= current_instructor %>
<% if instructor_logged_in? && current_instructor.id == @instructor.id %>
  <div class="row">
    <%= link_to "<span class='glyphicon glyphicon-plus'></span> New Course".html_safe, new_course_path, class: "btn btn-default" %>
  </div>
<% end %>
<% if @instructor.courses.count > 0 %>
  <% @instructor.courses.each do |c| %>
    <div class="row">
      <div class="course">
        <h4><%= link_to c.name, course_path(c) %></h4>
        <p><%= link_to c.subject.name, subject_path(c.subject) %></p>
        <p>Enrolled students: <%= c.students.count %></p>
        <% if instructor_logged_in? && session[:instructor_id] == @instructor.id %>
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_course_path(c), class: "btn btn-primary"%> <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, course_path(c), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
