<div class="row">
  <div class="title">
    <h1>Subjects</h1>
  </div>
</div>

<% @subjects.each do |s| %>
  <div class="row">
    <div class="course">
      <h4><%= link_to s.name, subject_path(s) %></h4>
      <p>Available courses: <%= s.courses.count %></p>
      <% if instructor_logged_in? %>
        <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_subject_path(s), class: "btn btn-primary" %>  <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, subject_path(s), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
<% if instructor_logged_in? %>
  <%= link_to "Add Subject", new_subject_path,class:"btn btn-default"%>
<% end %>
