<h1>Subjects</h1>
<% @subjects.each do |s| %>
  <div class="subject">
    <h4><%= s.name %></h4><br>
    <p>Available courses: <%= s.courses.count %></p><br>
    <%= link_to "Edit", "#" %> | <%= link_to "Delete", "#" %>
  </div>
<% end %>
<%= link_to "Add Subject", new_subject_path %>
