<h1><%= @concept.course.name %></h1>
<h2><%= @concept.name %></h2>
<div class="concept-content">
  <%= @concept.content.html_safe %><br>
  <%= link_to "Edit", edit_concept_path(@concept) %>
</div>
<% @concept.exercises.each do |e| %>
  <div class="exercise">
    <%= e.name %><br>
    <%= link_to "Edit", edit_exercise_path(e) %> | <%= link_to "Delete", exercise_path(e), method: :delete, data: {confirm: "Are you sure?"}  %>
  </div>
<% end %>
<%= link_to "New Exercise", new_exercise_path + "/" + @concept.id.to_s %><br>
<%= link_to "Back", course_path(@concept.course) %>
