<div class="row">
  <div class="title">
    <h1><%= @concept.course.name %></h1>
    <h2><%= @concept.name %></h2>
  </div>
</div>

<div class="row">
  <div class="concept-content">
    <%= @concept.content.html_safe %><br>
    <% if session[:instructor_id] == @concept.course.instructor.id %>
      <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_concept_path(@concept) %>
    <% end %>
  </div>
</div>

<% @concept.exercises.each do |e| %>
  <div class="exercise">
    <% if instructor_logged_in? || (student_logged_in? && current_student.progress.exercises.include?(e)) %>
      <%= link_to e.name, exercise_path(e) %><br>
    <% end %>
    <% if session[:instructor_id] == @concept.course.instructor.id %>
      <%= link_to "Edit", edit_exercise_path(e) %> | <%= link_to "Delete", exercise_path(e), method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
  </div>
<% end %>
<% if session[:instructor_id] == @concept.course.instructor.id %>
  <%= link_to "New Exercise", new_exercise_path + "/" + @concept.id.to_s %><br>
<% end %>
<% if student_logged_in? %>
  <%= link_to "Next", next_concept_path(@concept) %><br>
<% end %>
<%= link_to "Back to Course", course_path(@concept.course) %>
