<h1>Edit Course</h1>
<%= form_for @course do |f| %>
  <%= f.text_field :name, :placeholder => "Course Name" %><br>
  <%= f.select(:subject_id) do %>
    <% @subjects.each do |s| %>
      <%= content_tag(:option, s.name, value: s.id) %>
    <% end %>
  <% end %><br>
  <%= f.text_field :description , :placeholder => "Course Description"%><br>
  <%= f.submit %>
<% end %>
<%= link_to "Back", instructor_path(Instructor.find(session[:instructor_id])) %>
