<h1><%= @exercise.concept.name %></h1>
<h2><%= @exercise.name %></h2>
<div class="exercise-content">
  <%= @exercise.content.html_safe %>
</div>
<% if instructor_logged_in? || (student_logged_in? && current_student.progress.exercises.include?(@exercise)) %>
  <div class="exercise-answer">
    <%= @exercise.answer %>
  </div>
<% end %>
<% if student_logged_in? && current_student.courses.include?(@exercise.concept.course) && !current_student.progress.exercises.include?(@exercise) %>
  <%= form_for @exercise, url: {action: "next", id: @exercise} do |f| %>
    <%= f.text_field :answer, placeholder: "Enter Your Answer", value: "" %>
    <%= f.submit "Next" %>
  <% end %>
<% end %>
<%# link_to "Next", next_exercise_path(@exercise) %>
<% if session[:instructor_id] == @exercise.concept.course.instructor.id %>
  <%= link_to "Edit", edit_exercise_path(@exercise) %><br>
<% end %>
<%= link_to "Back", concept_path(@exercise.concept) %>
