<!DOCTYPE html>
<html>
<head>
  <title>ElearningApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <% if instructor_logged_in? %>
    <%= link_to "Log out #{current_instructor.name}", logout_path, class: "btn btn-default" %>
  <% else %>
    <%= link_to "Log in Instructor", new_session_path, class: "btn btn-default" %>
  <% end %>
  <% if flash[:success] %>
      <div class="alert alert-success"> <%= flash[:success] %></div>
    <% end %>
    <% if flash[:failure] %>
      <div class="alert alert-danger"> <%= flash[:failure] %></div>
    <% end %>
    <script>
      $('.alert').delay(1500).fadeOut()
    </script>
<%= yield %>

</body>
</html>
